# env.example
DB_CREDENTIALS__INTERNAL__PRIVATE_KEY_PASSPHRASE='${DB_CREDENTIALS__INTERNAL__PRIVATE_KEY_PASSPHRASE}' # passphrase
DB_CREDENTIALS__INTERNAL__PRIVATE_KEY='${DB_CREDENTIALS__INTERNAL__PRIVATE_KEY}' # rsaPrivateKey
DB_CREDENTIALS__INTERNAL__PUBLIC_KEY='${DB_CREDENTIALS__INTERNAL__PUBLIC_KEY}' # x509publicKey
DOCKER_TAG_NAME=local
# logto static secrets matching deploy/logto/seed.sql - randomize with API later
LOGTO__ALP_APP__CLIENT_SECRET=yFRvkJg8NKXx3phL27QembSa4ZHzcVD5 # logto app client_secret
LOGTO__ALP_SVC__CLIENT_SECRET=YEuzmvJfsWMHwFV7hSB5P9p8ky2Gqdxn # logto svc client_secret
LOGTO__ALP_ADMIN__CLIENT_SECRET=xk8HP4VDzqJcnXCTpdaQM6Ut2SwrG37u # logto admin client_secret
LOGTO_API_M2M_CLIENT_ID=a560o8tqw79hy2cpn8x1q
LOGTO_API_M2M_CLIENT_SECRET=xk8HP4VDzqJcnXCTpdaQM6Ut2SwrG37u
LOGTO__CLIENTID_PASSWORD__BASIC_AUTH=YTU2MG84dHF3NzloeTJjcG44eDFxOnhrOEhQNFZEenFKY25YQ1RwZGFRTTZVdDJTd3JHMzd1
LOGTO__ALP_ADMIN_APP__SECRET=xk8HP4VDzqJcnXCTpdaQM6Ut2SwrG37u
MEILI_MASTER_KEY='${MEILI_MASTER_KEY}' # password
MINIO__SECRET_KEY='${MINIO__SECRET_KEY}' # password
PG_ADMIN_PASSWORD='${PG_ADMIN_PASSWORD}' # admin permissions password
PG_SUPER_PASSWORD='${PG_SUPER_PASSWORD}' # all permissions password
PG_WRITE_PASSWORD='${PG_WRITE_PASSWORD}' # write permissions only password
REDIS_PASSWORD='${REDIS_PASSWORD}' # redis password
DICOM__HEALTH_CHECK_PASSWORD=GASKEajSaz5f6j