# env.example
DB_CREDENTIALS__INTERNAL__DECRYPT_PRIVATE_KEY='${DB_CREDENTIALS__INTERNAL__DECRYPT_PRIVATE_KEY}' # rsaPrivateKey
DB_CREDENTIALS__INTERNAL__PUBLIC_KEY='${DB_CREDENTIALS__INTERNAL__PUBLIC_KEY}' # x509publicKey
MINIO__SECRET_KEY='${MINIO__SECRET_KEY}' # password
PG_ADMIN_PASSWORD='${PG_ADMIN_PASSWORD}' # admin permissions password
PG_SUPER_PASSWORD='${PG_SUPER_PASSWORD}' # all permissions password
PG_WRITE_PASSWORD='${PG_WRITE_PASSWORD}' # write permissions only password
REDIS_PASSWORD='${REDIS_PASSWORD}' # redis password
LOGTO_API_M2M_CLIENT_ID='${LOGTO_API_M2M_CLIENT_ID}' # password
LOGTO_API_M2M_CLIENT_SECRET='${LOGTO_API_M2M_CLIENT_SECRET}' # password
LOGTO__CLIENTID_PASSWORD__BASIC_AUTH='${LOGTO__CLIENTID_PASSWORD__BASIC_AUTH}'
# COPY OVER ENV ASSIGNMENTS from alp-logto-post-init
LOGTO__ALP_APP__CLIENT_ID='${LOGTO__ALP_APP__CLIENT_ID}' # password
LOGTO__ALP_APP__CLIENT_SECRET='${LOGTO__ALP_APP__CLIENT_SECRET}' # password
LOGTO__ALP_SVC__CLIENT_ID='${LOGTO__ALP_SVC__CLIENT_ID}' # password
LOGTO__ALP_SVC__CLIENT_SECRET='${LOGTO__ALP_SVC__CLIENT_SECRET}' # password
LOGTO__ALP_DATA__CLIENT_ID='${LOGTO__ALP_DATA__CLIENT_ID}' # password
LOGTO__ALP_DATA__CLIENT_SECRET='${LOGTO__ALP_DATA__CLIENT_SECRET}' # password
FHIR__CLIENT_ID=db6b2304-f236-45ec-b10c-a852681e7129
FHIR__CLIENT_SECRET=d64bff124d11f1e2a852b1076bacd081fefffa82e2db2711509b88a3397c2f3d
STRATEGUS__KEYRING_PASSWORD='${STRATEGUS__KEYRING_PASSWORD}' # strategus keyring password
