<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/security/oauth2 http://www.springframework.org/schema/security/spring-security-oauth2-2.0.xsd">
	
   
    <!-- HERE WE HAVE a Form-Based HTTP Basic Authentication -->
    <!-- <security:http pattern="/**" authentication-manager-ref="authenticationManager">
        <security:intercept-url pattern="/**" access="isAuthenticated()" />
        <security:http-basic />
    </security:http> -->
    
    
    
	<!-- Default: NO AUTHENTICATION! -->    
    <security:http pattern="/**" security="none" authentication-manager-ref="authenticationManager"/>

	<!-- Set my AuthenticationManager -->
    <security:authentication-manager alias="authenticationManager">        
        <!-- this supplies Users for Form-based Authentication -->
        <!-- <security:authentication-provider>
            <security:user-service>
                <security:user name="monitorRole" password="Initial1" authorities="ACTUATOR" />
                <security:user name="admin" password="Initial1" authorities="ADMIN,ACTUATOR" />
            </security:user-service>
        </security:authentication-provider> -->
    </security:authentication-manager>
    
</beans>
