{
	debug
	pki {
		ca local {
			name "ALP Local CA"
			root_cn "ALP Local CA - 2024 ECC Root"
			intermediate_cn "ALP Local CA - ECC Intermediate"
		}
		ca alp-internal {
			name "ALP Internal CA"
			root_cn "ALP Internal CA - 2024 ECC Root"
			intermediate_cn "ALP Internal CA - ECC Intermediate"
		}
	}
}

https://*.alp.local:55555 {
	tls {
		issuer internal {
			ca alp-internal
			lifetime 360d
			sign_with_root
		}
	}
	respond alp-internal
}

(portal) {
	log {
		format console {
			level_format color
		}
	}

	handle /alp-prefect/* {
		uri strip_prefix /alp-prefect
		reverse_proxy http://alp-dataflow-gen-1:41120 {
			transport http {
				read_buffer 8192
			}
		}
	}

	handle /dicom/* {
		uri strip_prefix /dicom
		reverse_proxy http://alp-dicom-server:8042 {
			transport http {
				read_buffer 8192
			}
		}
	}


	handle /alp-fhir/* {
		uri strip_prefix /alp-fhir
		reverse_proxy http://alp-minerva-fhir-server-1:8103 {
			transport http {
				read_buffer 8192
			}
		}
	}

	redir / /portal

	handle_path /portal* {
		handle_path /static/css/* {
			root * /home/docker/ui-files/portal/static/css/
			file_server
		}

		handle_path /static/js/* {
			root * /home/docker/ui-files/portal/static/js/
			file_server
		}

		handle_path /static/media/* {
			root * /home/docker/ui-files/portal/static/media/
			file_server
		}

		handle_path /icons/* {
			root * /home/docker/ui-files/portal/icons/
			file_server
		}

		handle_path /assets/* {
			root * /home/docker/ui-files/portal/assets/
			file_server
		}

		handle_path /translations/* {
			root * /home/docker/ui-files/portal/translations/
			file_server
		}

		handle_path /env.js {
			rewrite * /portal/env.js
			reverse_proxy https://alp-minerva-gateway-1:41100 {
				transport http {
					tls
					tls_insecure_skip_verify
					read_buffer 8192
				}
			}
		}

		handle {
			rewrite * /
			root * /home/docker/ui-files/portal/index.html
			file_server
		}
	}

	handle_path /flow/* {
		root * /home/docker/ui-files/flow/
		file_server
	}

	handle_path /analysis/* {
		root * /home/docker/ui-files/analysis/
		file_server
	}

	handle_path /log-viewer/* {
		root * /home/docker/ui-files/log-viewer/
		file_server
	}

	handle_path /starboard-jupyter/* {
		root * /home/docker/ui-files/starboard-jupyter/
		file_server
	}

	handle_path /starboard-notebook-base/* {
		root * /home/docker/ui-files/starboard-notebook-base/
		file_server
	}

	handle_path /mri/* {
		root * /home/docker/ui-files/mri/
		file_server
	}

	handle_path /hc/hph/core/ui/* {
		root * /home/docker/ui-files/mri-ui5/utils/core/
		file_server
	}

	handle_path /hc/hph/config/global/ui/* {
		root * /home/docker/ui-files/mri-ui5/utils/global/
		file_server
	}

	handle_path /hc/mri/pa/config/ui/* {
		root * /home/docker/ui-files/mri-ui5/PatientAnalyticsConfig/ui5/
		file_server
	}

	handle_path /hc/mri/pa/ui/* {
		root * /home/docker/ui-files/mri-ui5/mri-pa-ui/mri/
		file_server
	}

	handle_path /hc/hph/genomics/ui/* {
		root * /home/docker/ui-files/mri-ui5/genomics-ui/ui/
		file_server
	}

	handle_path /hc/mri/pa/config/i18n/* {
		root * /home/docker/ui-files/mri-ui5/PatientAnalyticsConfig/ui5/i18n/
		file_server
	}

	handle_path /ui/core/* {
		root * /home/docker/ui-files/ui5/resources/sap/ui/core/
		file_server
	}

	handle_path /ui/m/* {
		root * /home/docker/ui-files/ui5/resources/sap/m/
		file_server
	}

	handle_path /hc/hph/patient/app/ui/* {
		root * /home/docker/ui-files/mri-ui5/chp-ps-ui/
		file_server
	}

	handle_path /hc/hph/cdw/config/i18n/* {
		root * /home/docker/ui-files/mri-ui5/CDM/ui5/i18n/
		file_server
	}

	handle_path /hc/hph/cdw/config/ui/* {
		root * /home/docker/ui-files/mri-ui5/CDM/ui5/
		file_server
	}

	handle_path /hc/hph/patient/config/ui/* {
		root * /home/docker/ui-files/mri-ui5/PatientSummaryConfig/ui5/
		file_server
	}

	handle_path /hc/hph/patient/shared/* {
		root * /home/docker/ui-files/mri-ui5/PatientSummaryConfig/ui5/shared/
		file_server
	}

	handle_path /hc/hph/patient/config/i18n/* {
		root * /home/docker/ui-files/mri-ui5/PatientSummaryConfig/ui5/i18n/
		file_server
	}

	handle_path /ui/* {
		root * /home/docker/ui-files/ui5/resources/
		file_server
	}

	## call gateway if there are no matched files
	handle {
		reverse_proxy https://alp-minerva-gateway-1:41100 {
			transport http {
				tls
				tls_insecure_skip_verify
				read_buffer 8192
			}
		}
	}
}

https://{$CADDY__ALP__PUBLIC_FQDN} {
	{$TLS__CADDY_DIRECTIVE}
	import portal
}

https://{$CADDY__LOGTO_IDP__PUBLIC_FQDN}:3001 {
	log {
		format console {
			level_format color
		}
	}

	{$TLS__CADDY_DIRECTIVE}

	handle /* {
		reverse_proxy http://alp-logto-1:3001 {
			header_up Host {$CADDY__LOGTO_IDP__PUBLIC_FQDN}:3001
			transport http {
				read_buffer 8192
			}
		}
	}
}

https://{$CADDY__FHIR_SERVER__PUBLIC_FQDN:localhost}:41130 {
	log {
		format console {
			level_format color
		}
	}

	tls internal
	handle /* {
		reverse_proxy http://alp-minerva-fhir-fe-server-1:3000 {
			header_up Host {$CADDY__FHIR_SERVER__PUBLIC_FQDN}:3000
			transport http {
				read_buffer 8192
			}
		}
	}
}

https://{$CADDY__LOGTO_IDP__PUBLIC_FQDN}:3002 {
	log {
		format console {
			level_format color
		}
	}

	{$TLS__CADDY_DIRECTIVE}

	handle /* {
		{$CADDY__BLOCK_LOGTO_ADMIN_CONSOLE}
		reverse_proxy http://alp-logto-1:3002 {
			header_up Host {$CADDY__LOGTO_IDP__PUBLIC_FQDN}:3002

			transport http {
				read_buffer 8192
			}
		}
	}
}
