{
	debug
	pki {
		ca local {
			name "ALP Local CA"
			root_cn "ALP Local CA - 2024 ECC Root"
			intermediate_cn "ALP Local CA - ECC Intermediate"
		}
		ca alp-internal {
			name "ALP Internal CA"
			root_cn "ALP Internal CA - 2024 ECC Root"
			intermediate_cn "ALP Internal CA - ECC Intermediate"
		}
	}
}

https://*.alp.local:55555 {
	tls {
		issuer internal {
			ca alp-internal
			lifetime 360d
			sign_with_root
		}
	}
	respond alp-internal
}

(forward_authentication) {
	# Enable this for using perseus user service
	forward_auth http://alp-perseus-user-1:5001 {
		uri /user/api/is_token_valid_internal
		copy_headers Username
	}

	# Enable this for using D2E user-mgmt service
	# forward_auth https://alp-minerva-gateway-1:41100 {
	# 	transport http {
	# 		tls
	# 		tls_insecure_skip_verify
	# 		read_buffer 8192
	# 	}
	# 	uri /usermgmt/api/me/is_token_valid_internal
	# 	copy_headers Username
	# }
}

(cors) {
	@cors header Origin {args[0]}

	handle @cors {
		header Access-Control-Allow-Origin {args[0]}
		header Access-Control-Allow-Methods *
		header Access-Control-Allow-Headers *
		header Access-Control-Allow-Credentials "true"
	}
}

(perseus) {
	log {
		format console {
			level_format color
		}
	}

	handle /* {
		reverse_proxy http://alp-perseus-frontend-1:4200 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle_path /user/api/is_token_valid_internal {
		reverse_proxy http://alp-perseus-user-1:5001 {
			header_up Content-Length ""
			header_up X-Original-URI {http.request.uri}
		}
	}

	handle /user/* {
		reverse_proxy http://alp-perseus-user-1:5001 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /backend/* {
		import forward_authentication

		reverse_proxy http://alp-perseus-backend-1:5004 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /white-rabbit/* {
		import forward_authentication
		reverse_proxy http://alp-perseus-white-rabbit-1:8000 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /cdm-builder/* {
		import forward_authentication
		reverse_proxy http://alp-perseus-cdm-builder-1:9000 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /files-manager/* {
		import forward_authentication
		reverse_proxy http://files-manager:10500 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}
}

(portal) {
	log {
		format console {
			level_format color
		}
	}

	# Logto api server
	@logto {
		path /index.*
		path /api/*
		path /oidc/*
		path /sign-in
		path /consent
		path /callback/* # For azure connector
	}

	handle @logto {
		reverse_proxy http://alp-logto-1:3001 {
			header_up Host {upstream_hostport}
			transport http {
				read_buffer 8192
			}
		}
	}

	redir / /portal

	handle_path /portal* {
		handle_path /static/css/* {
			root * /home/docker/ui-files/portal/static/css/
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}

		handle_path /static/js/* {
			root * /home/docker/ui-files/portal/static/js/
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}

		handle_path /static/media/* {
			root * /home/docker/ui-files/portal/static/media/
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}

		handle_path /docs/* {
			root * /home/docker/ui-files/portal/docs/
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}

		handle_path /icons/* {
			root * /home/docker/ui-files/portal/icons/
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}

		handle_path /assets/* {
			root * /home/docker/ui-files/portal/assets/
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}

		handle_path /translations/* {
			root * /home/docker/ui-files/portal/translations/
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}

		handle_path /env.js {
			rewrite * /portal/env.js
			reverse_proxy https://alp-minerva-gateway-1:41100 {
				transport http {
					tls
					tls_insecure_skip_verify
					read_buffer 8192
				}
			}
		}

		handle {
			rewrite * /
			root * /home/docker/ui-files/portal/index.html
			encode zstd gzip
			file_server {
				precompressed zstd br gzip
			}
		}
	}

	handle_path /flow/* {
		root * /home/docker/ui-files/flow/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /analysis/* {
		root * /home/docker/ui-files/analysis/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /log-viewer/* {
		root * /home/docker/ui-files/log-viewer/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /starboard-jupyter/* {
		root * /home/docker/ui-files/starboard-jupyter/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /starboard-notebook-base/* {
		root * /home/docker/ui-files/starboard-notebook-base/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /mri/* {
		root * /home/docker/ui-files/mri/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/core/ui/* {
		root * /home/docker/ui-files/mri-ui5/utils/core/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/config/global/ui/* {
		root * /home/docker/ui-files/mri-ui5/utils/global/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/mri/pa/config/ui/* {
		root * /home/docker/ui-files/mri-ui5/PatientAnalyticsConfig/ui5/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/mri/pa/ui/* {
		root * /home/docker/ui-files/mri-ui5/mri-pa-ui/mri/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/genomics/ui/* {
		root * /home/docker/ui-files/mri-ui5/genomics-ui/ui/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/mri/pa/config/i18n/* {
		root * /home/docker/ui-files/mri-ui5/PatientAnalyticsConfig/ui5/i18n/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /ui/core/* {
		root * /home/docker/ui-files/ui5/resources/sap/ui/core/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /ui/m/* {
		root * /home/docker/ui-files/ui5/resources/sap/m/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/patient/app/ui/* {
		root * /home/docker/ui-files/mri-ui5/chp-ps-ui/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/cdw/config/i18n/* {
		root * /home/docker/ui-files/mri-ui5/CDM/ui5/i18n/
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/cdw/config/ui/* {
		root * /home/docker/ui-files/mri-ui5/CDM/ui5/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/patient/config/ui/* {
		root * /home/docker/ui-files/mri-ui5/PatientSummaryConfig/ui5/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/patient/shared/* {
		root * /home/docker/ui-files/mri-ui5/PatientSummaryConfig/ui5/shared/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /hc/hph/patient/config/i18n/* {
		root * /home/docker/ui-files/mri-ui5/PatientSummaryConfig/ui5/i18n/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	handle_path /ui/* {
		root * /home/docker/ui-files/ui5/resources/
		encode zstd gzip
		file_server {
			precompressed zstd br gzip
		}
	}

	## call gateway if there are no matched files
	handle {
		reverse_proxy https://alp-minerva-gateway-1:41100 {
			transport http {
				tls
				tls_insecure_skip_verify
				read_buffer 8192
			}
		}
	}
}

https://localhost:41101 {
	tls internal
	respond ""
}

https://{$CADDY__ALP__PUBLIC_FQDN} {
	{$TLS__CADDY_DIRECTIVE}
	import portal
}

https://{$CADDY__FHIR_SERVER__PUBLIC_FQDN:localhost}:41130 {
	log {
		format console {
			level_format color
		}
	}

	tls internal
	handle /* {
		reverse_proxy http://alp-minerva-fhir-fe-server-1:3000 {
			header_up Host {$CADDY__FHIR_SERVER__PUBLIC_FQDN}:3000
			transport http {
				read_buffer 8192
			}
		}
	}
}

http://localhost:41180 {
	import cors http://localhost:5173
	import perseus
}
