{
	debug
	pki {
		ca local {
			name "ALP Local CA"
			root_cn "ALP Local CA - 2024 ECC Root"
			intermediate_cn "ALP Local CA - ECC Intermediate"
		}
		ca alp-internal {
			name "ALP Internal CA"
			root_cn "ALP Internal CA - 2024 ECC Root"
			intermediate_cn "ALP Internal CA - ECC Intermediate"
		}
	}
}

https://*.alp.local:55555 {
	tls {
		issuer internal {
			ca alp-internal
			lifetime 360d
			sign_with_root
		}
	}
	respond alp-internal
}

(forward_authentication) {
	# Enable this for using perseus user service
	# forward_auth http://alp-perseus-user-1:5001 {
	# 	uri /user/api/is_token_valid_internal
	# 	copy_headers Username
	# }

	# Enable this for using D2E user-mgmt service
	forward_auth https://trex:33000 {
		transport http {
			tls
			tls_insecure_skip_verify
			read_buffer 8192
		}
		uri /usermgmt/api/me/is_token_valid_internal
		copy_headers Username
	}
}

(cors) {
	@cors_preflight method OPTIONS

	header {
		Access-Control-Allow-Origin {args[0]}
		Vary Origin
		Access-Control-Allow-Headers "Authorization, Content-Type"
		Access-Control-Allow-Credentials "true"
		defer
	}

	handle @cors_preflight {
		header {
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
			Access-Control-Max-Age "3600"
		}
		respond "" 204
	}
}

(perseus) {
	log {
		format console {
			level_format color
		}
	}

	handle /* {
		reverse_proxy http://alp-perseus-frontend-1:4200 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle_path /user/api/is_token_valid_internal {
		reverse_proxy http://alp-perseus-user-1:5001 {
			header_up Content-Length ""
			header_up X-Original-URI {http.request.uri}
		}
	}

	handle /user/* {
		reverse_proxy http://alp-perseus-user-1:5001 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /backend/* {
		import forward_authentication

		reverse_proxy http://alp-perseus-backend-1:5004 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /white-rabbit/* {
		import forward_authentication
		reverse_proxy http://alp-perseus-white-rabbit-1:8000 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /cdm-builder/* {
		import forward_authentication
		reverse_proxy http://alp-perseus-cdm-builder-1:9000 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}

	handle /files-manager/* {
		import forward_authentication
		reverse_proxy http://files-manager:10500 {
			header_up X-Real-IP {http.request.remote_host}
		}
	}
}

(portal) {
	log {
		format console {
			level_format color
		}
	}

	# Logto api server
	@logto {
		path /index.*
		path /api/*
		path /oidc/*
		path /sign-in
		path /consent
		path /callback/* # For azure connector
	}

	handle @logto {
		reverse_proxy http://alp-logto-1:3001 {
			header_up Host {upstream_hostport}
			transport http {
				read_buffer 8192
			}
		}
	}


	## call gateway if there are no matched files
	handle {
		reverse_proxy https://trex:33000 {
			transport http {
				tls
				tls_insecure_skip_verify
				read_buffer 8192
			}
		}
	}
}

https://localhost:41101 {
	tls internal
	respond ""
}

https://{$CADDY__ALP__PUBLIC_FQDN} {
	{$TLS__CADDY_DIRECTIVE}
	import portal
}

https://{$CADDY__FHIR_SERVER__PUBLIC_FQDN:localhost}:41130 {
	log {
		format console {
			level_format color
		}
	}

	tls internal
	handle /* {
		reverse_proxy http://alp-minerva-fhir-fe-server-1:3000 {
			header_up Host {$CADDY__FHIR_SERVER__PUBLIC_FQDN}:3000
			transport http {
				read_buffer 8192
			}
		}
	}
}

http://localhost:41180 {
	# Allow CORS for mapping UI local development
	import cors http://localhost:5173
	import perseus
}
