export GH_TOKEN=<GH_TOKEN> # populate
export GH_USERNAME=<GH_USERNAME> # populate

export ENV_TYPE=remote
export DOCKER_DEFAULT_PLATFORM=linux/amd64

export CADDY__ALP__PUBLIC_FQDN=d2e.local
export TLS__CADDY_DIRECTIVE='tls internal'