 {
            "extension": [
            #if( $PatientName.NameUsage )
                {
                    "url":"http://hl7.org/fhir/StructureDefinition/humanname-assembly-order",
                    "valueCode":"$PatientName.NameUsage"
                }
            #end
            ],
            "use":"official",
            "family":"$!PatientName.LastName_Prefix $!PatientName.LastName_LastName",
            "_family":{
                "extension": [
                #set($fsep="")
                #if( $PatientName.LastName_Prefix )
                    $fsep{
                        "url":"http://hl7.org/fhir/StructureDefinition/humanname-own-prefix",
                        "valueString":"$PatientName.LastName_Prefix"
                    }
                    #set($fsep=",") 
                #end
                #if( $PatientName.LastName_LastName )
                    $fsep{
                        "url":"http://hl7.org/fhir/StructureDefinition/humanname-own-name",
                        "valueString":"$PatientName.LastName_LastName"
                    }
                    #set($fsep=",") 
                #end
                #if( $PatientName.LastNamePartner_Prefix )
                    $fsep{
                        "url":"http://hl7.org/fhir/StructureDefinition/humanname-partner-prefix",
                        "valueString":"$PatientName.LastNamePartner_Prefix"
                    }
                    #set($fsep=",") 
                #end
                #if( $PatientName.LastNamePartner_LastName )
                    $fsep{
                        "url":"http://hl7.org/fhir/StructureDefinition/humanname-partner-name",
                        "valueString":"$PatientName.LastNamePartner_LastName"
                    }
                    #set($fsep=",") 
                #end
                ]
            },
            "given": [
             	#set($gsep="")
                #if( $PatientName.FirstNames )$gsep"$PatientName.FirstNames"#set($gsep=",")#end
                #if( $PatientName.Initials )$gsep"$PatientName.Initials"#set($gsep=",")#end
                #if( $PatientName.GivenName )$gsep"$PatientName.GivenName"#set($gsep=",")#end
            ]
        }